.content {
  background-color: #4b4c4d;
  padding: 1em;
  margin: 1em 0em;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.noResults {
  width: 100%;
  text-align: left;
  padding: 1em;
  margin: 3em 0em;
  color: lightgrey;
}

.tabs {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: white;
  width: 100%;
  padding: 0.25em 0em;
  background-color: #4b4c4d;
}

.tabs a {
  padding: 0.5em 1em;
  color: inherit;
  background-color: #4b4c4d;
  transition: linear 100ms background-color;
  border-bottom: 4px solid #696969;
  margin: 0em 0.5em;
  text-decoration: none;
}

.tabs a:hover {
  background-color: #696969 !important;
}

.noShow {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, .pageNumber input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.voorwerpLijst .item {
  padding: 0.25em;
  margin: 0em 2em;
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
}

.voorwerpLijst .item:hover {
  background-color: #696969;
}

.voorwerpLijst .item * {
  display: inline;
  font-size: 1em !important;
}

.voorwerpLijst .head, .voorwerpLijst .head * {
  color: #a9976a;
}

.voorwerpLijst .head:hover {
  background-color: transparent;
}

.Settings, .Home {
  padding: 1em 0em;
}

.Settings>div {
  margin: 1em 0em;
}

.Settings .item {
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.Settings .item * {
  margin: auto;
  margin-left: 1em;
  width: 80%;
}

.Settings .item h6 {
  width: 20%;
}

.registreerVerkoopKnop {
  display: block;
  padding: 2em 0em;
}

.registreerVerkoopKnop a {
  color: white;
  background-color: #a9976a;
  transition: 100ms linear background-color;
  padding: 1em;
  margin: 1em;
  border-radius: 2em;
}

.registreerVerkoopKnop a:hover {
  background-color: #ffb357;
}