.background {
  background-color: #3a3a3a;
}

.notificaties {
  color: white;
  background-color: darkred;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.registratieformulier {
  color: rgb(255, 255, 255);
  margin: 0em 1em;
  width: 25%;
}

.registratieformulierLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 52.5vh;
  margin-left: 30%;
}

.registratieKnop {
  width: 60%;
  margin-top: 1em;
  background-color: #ffb357;
  margin-bottom: 1em;
  color: black;
}

.inputforms {
  background-color: #c5ae91;
}

h5 {
  color: #ffffff;
  text-align: left;
}

.hoofdcategorie {
  color: #ffffff;
  background-color: #3a3a3a;
}

.foutmeldingTekst {
  text-align: center;
  color: red;
}

.foutmelding {
  width: 100%;
  border-width: 5px 0px;
  border-style: solid;
  border-color: darkred;
}

.navbar-light .navbar-brand {
  color: #a9976a;
  text-decoration: none;
}

.titel {
  color: #a9976a;
  font-size: 2em;
}

.navbar.navbar-light.navbar-expand-md.sticky-top.d-md-flex.d-xl-flex.justify-content-center.align-items-center.align-items-md-center.justify-content-xl-center.align-items-xl-center.navigation-clean-search {
  background-color: #4b4c4d;
}

.form-inline.mr-auto {
  background-color: #c5ae91;
  margin: 0px;
  min-width: 20em;
}

.form-inline .form-group {
  color: #ffffff;
  border: none;
  width: 100%;
  margin: 0px;
}

.Main {
  margin: auto;
  padding: 1em;
  width: 100vw;
  min-height: 50vh;
}

@media (min-width: 1025px) {
  .Main {
    width: 70vw;
  }
}

body {
  background-color: #3a3a3a;
}

.registratiebutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.registratiepagina {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.banner {
  display: flex;
  justify-content: space-around;
  border-color: #e4e0e0;
  background-color: #e4e0e0;
}

.bannerknop {
  margin-left: 5%;
  color: black;
}

h6 {
  color: #a9976a;
  word-break: break-all;
}

.voorwerpBeschrijving {
  height: 1000px;
  width: 120%;
  border: none;
  background-color: #4b4c4d;
  box-shadow: 5px 5px 5px;
  margin-bottom: 2em;
}

.biedingKolom {
  padding-right: 5em;
}

.meervanVerkoper {
  color: #a9976a;
  font-size: 1.5em;
}

.kaartje {
  font-size: 20px!important;
}

.clock {
  margin-top: -5px;
  max-width: 20px;
  max-height: 20px;
  background-color: white;
  border-radius: 25px;
}

.bannerfotos {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-left: 15px;
}

.verkooppagina{
  display:flex;
  flex-direction:column;
  align-items:center;
  
}

.text-center{
  color:white;
}

.verkoophead{
  align-self:center;
}

.spacing{
  margin-bottom:100px;
}

.groot{
  height:200px;
}

.verkooppaginarow{
  
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content:start;
  margin-right: -15px;
  margin-left: -15px;
}
